
<app-navbar></app-navbar>

<!-- Section: Slider -->
  <section class="slider">
    <ul class="slides">
      <li>
        <img src="../../../assets/images/c.jpg" alt="" height="250px" width="580px">
        <div class="caption center-align">
          <h2 style="color:black;">100,000 online courses <br>
Explore a variety of fresh topics</h2>
          <h5 class="light black-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn btn-large #aa00ff purple accent-4">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../../../assets/images/d.jpg" alt="" height="250px" width="580px">
        <div class="caption left-align">
          <h2 style="color:black;">Expert instruction <br>
Find the right instructor for you</h2>
          <h5 class="light black-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn btn-large #aa00ff purple accent-4">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../../../assets/images/a.jpg" alt="" height="250px" width="580px">
        <div class="caption right-align">
          <h2 style="color:black;">Lifetime access <br>
Learn on your schedule</h2>
          <h5 class="light black-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn btn-large #aa00ff purple accent-4">Learn More</a>
        </div>
      </li>

    </ul>
  </section>
  <!--end of section-slider-->

<!-- Section: Search -->
<section id="search" class="section section-search #d500f9 purple accent-3 darken-1 white-text center scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>Search Our Courses</h3>
          <div class="input-field">
            <input  style="border-radius: 25px" class="white grey-text autocomplete"  type="text" id="autocomplete-input">
          </div>
        </div>
      </div>
    </div>
</section>
<!--end of section-search-->

<section id="categories" class="section section-categories center scrollspy">
  <h4>Course categories</h4>


       <div class="row">
    <div class="col s12 m2">
      <div class="card #ea80fc purple accent-1 darken-1">
        <div class="card-content white-text">
          <span class="card-title"><h5><i class="fas fa-laptop-code"></i><br> Development</h5></span>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card #ea80fc purple accent-1 darken-1">
        <div class="card-content white-text">
          <span class="card-title"><h5><i class="fas fa-laptop"></i> <br> IT & software</h5></span>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card #ea80fc purple accent-1 darken-1">
        <div class="card-content white-text">
          <span class="card-title"><h5><i class="fas fa-paint-brush"></i><br> Design</h5></span>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card #ea80fc purple accent-1 darken-1">
        <div class="card-content white-text">
          <span class="card-title"><h5><i class="far fa-handshake"></i> <br>Marketing</h5></span>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card #ea80fc purple accent-1 darken-1">
        <div class="card-content white-text">
          <span class="card-title"><h5><i class="fas fa-microscope"></i> <br> Science</h5></span>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card #ea80fc purple accent-1 darken-1">
        <div class="card-content white-text">
          <span class="card-title"><h5><i class="fas fa-calculator"></i><br> Mathematics</h5></span>
        </div>
      </div>
    </div>
  </div>

</section>


<!-- Section: Popular -->
<section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">Top Courses</h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img width="100" height="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvFcMXFyRR8abrx_vCZaalfpG2NniB640KDv6tbp5xWJbDr1w2" alt="">

            </div>
            <div class="card-content">
              <h5 style="color:black;">Java for Beginners</h5>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img width="100" height="200" src="https://showmeseo.ml/wp-content/uploads/2017/05/web-applications-for-show-me-seo.png" alt="">

            </div>
            <div class="card-content">
                <h5 style="color:black;">Web Technologies</h5>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img width="100" height="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9wzghvqjct06mcWFj06DQOWXECpVAs06RYmyLo25RssbIPBGfOQ" alt="">

            </div>
            <div class="card-content">
                <h5 style="color:black;">Graphic Designning</h5>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <a href="#contact" class="btn btn-large grey darken-3">
            <i class="material-icons left">send</i> Register For Courses
          </a>
        </div>
      </div>
    </div>
  </section>
<!--end of section popular-->

<!-- Section: Follow -->
<section class="section section-follow #d500f9 purple accent-3 darken-2 white-text center">
  <app-socialmedia-login></app-socialmedia-login>
  </section>
<!--end of section follow-->

<!--Section: Contact-->
<section id="contact" class="section section-contact scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel #d500f9 purple accent-3 white-text center">
            <i class="material-icons medium">email</i>
            <h5>Contact Us For Registering to Our Courses</h5>
            <p></p>
          </div>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Contact Us</h4>
            </li>
            <li class="collection-item">WEBIS</li>
            <li class="collection-item">Katubedda</li>
            <li class="collection-item">Moratuwa</li>
          </ul>
        </div>

        <div class="col s12 m6">
        <app-register></app-register>
        </div>

      </div>
    </div>
  </section>
<!--end of section contact-->

<app-footer></app-footer>
