<app-navbar></app-navbar>

<div id="bg">
    <div class="login-box">
    <img src="../../../assets/images/avatar.png" class="avatar">
        <h1>Login Here</h1>
            <form>
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <a routerLink=""><input type="submit" name="submit" value="Login" class="#d500f9 purple accent-3"></a>
            <a href="#">Don't have an account?</a>
            </form>
    </div>
</div>

<app-footer></app-footer>
